# macOS / Linux junk
.DS_Store
.Trashes
.cache
Thumbs.db

# Logs & temp files
*.log
*.swp
*.tmp
*.bak

# Secrets / environment
.env
.env.*

# Node / Go / Rust build artifacts (common dotfiles extras)
node_modules/
dist/
target/
bin/
pkg/

# Editor backups
*~
*.old
# VSCode settings
.vscode/

# Ignore all plugins in tmux, except TPM
.config/tmux/plugins/*
!.config/tmux/plugins/tpm/
